.splitview {
    display: flex;
}
.split-participant {
    display: inline-block;
    height: 100vh;
    width: 50vw;
    overflow: scroll;
}

.video {
    flex: 2 1 0;
    overflow: hidden;
}
.video iframe {
    width: 96%;
    height: 60%;
}

html {
    font-family: sans-serif;
}

.lyrics {
    line-height: 1.5em;
    font-size: 16pt;
    flex: 1 1 0;
}

.lyric-line:hover {
    background-color: bisque;
}

.lyrics-only-link {
    font-size: 16pt;
    text-align: center;
}
